.stApp{
    background:linear-gradient(
        135deg,
      #f6e2e7 0%,
      #cfa2b2 50%,
      #ead5e0 100%
         );
    min-height: 100vh;
    font-family: 'Segoe UI',sans-serif;
}

.card{
    text-align: center;
    background-color:#d0e8eb;
    padding:25px;
    border-radius: 16px;
    border-style:groove;
    box-shadow:0 8px 20px rgba(22, 20, 20, 0.304);
    margin-bottom: 25px;
}

h1,h2,h3{
    color:#0f172a;
}

div[data-testid="metric-container"]{
    background-color: #f8fafc;
    border-radius: 16px;
    padding:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.05);
}

.prediction-box{
    background:linear-gradient(
        135deg,
        #dcfce7,
        #bbf7d0
    );
    padding: 22px;
    border-radius: 14px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color:#14532d;
    margin-top: 15px;
}